%h1 ToDo App

= link_to 'Edit Profile', edit_user_registration_path, class: 'ui yellow button'
= link_to 'Lists', lists_path, class: 'ui orange button'
= link_to 'Logout', destroy_user_session_path, method: :delete, class: 'ui negative button'