// Place all the styles related to the Lists controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.mt {
  &-lg {
    margin-top: 20px !important;
  }
}

.mb {
  &-lg {
    margin-bottom: 20px !important;
  }
}

.text-black {
  color: #000 !important;
}
